*{
    margin:0;
    padding: 0;
    background-color: #F4CE14;
    opacity: 0.8;
}

.header{
    margin: 50px;
    margin-bottom: 20px;
    color: #F5F7F8;
    font-family: Arial;
    font-size: 48px;
}

.subject{
    font-family: Arial;
    font-size: 500px;
    color: black;
    margin: 200px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: inline-block;
}

span{
    font-family: Arial;
    font-size: 60px;
}

